AWS_ORGANIZATION_ID=
AWS_MANAGEMENT_ACCOUNT_ID=
AWS_LOG_ARCHIVE_ACCOUNT_ID=
AWS_SECURITY_OU_ID=
AWS_PRODUCTION_OU_ID=
AWS_SANDBOX_OU_ID=
AWS_CLOUDTRAIL_LOG_BUCKET_NAME=
AWS_CLOUDTRAIL_KMS_KEY_ARN=
SECURITY_NOTIFICATION_EMAIL=
APEX_DOMAIN_NAME=
# blogのhosted zone作成後に設定する任意項目(カンマ区切りのname server一覧)
BLOG_SUBDOMAIN_NAME_SERVERS=
# Google Search Consoleのドメイン所有権確認用トークン(任意項目)
GOOGLE_SITE_VERIFICATION_TOKEN=
